.InputContainer {
  border: solid 1px #cfcfcf;
  border-radius: 0.4rem;

  display: flex;
  align-items: center;
  background-color: aqua;

  svg {
    color: #cccccc !important;
  }
}

.Input {
  padding: 0.4rem;
}
